project.lock.json
bin/
obj/
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
#RiderC#
**/.idea
**/.idea.RestfulApi
./idea
*.*.iml
**/*.sln
*.sln
**/*.xproj
*.xproj
cv.pdf
appsettings.json
emails
