project.lock.json
bin/
obj/
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
appsettings.json
emails.txt
cv.pdf
Attachments
#RiderC#
**/.idea
**/.idea.RestfulApi
./idea
*.*.iml
**/*.sln
*.sln

**/*.xproj
*.xproj
